*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
html{
    font-size: 62.5%;
}

a{
    text-decoration: none;
    cursor: pointer;
}


/* Header Section------------------------------------------- */
header{
    width: 100%;
    height: 60px;
    border: 2px solid black;
}

header nav{
    display: flex;
    justify-content: flex-end;
    border: 2px solid blue;
    height: 100%;

}

header nav .nav-right-section{
    border: 2px solid pink;
    width: 250px;   
    height: inherit; 
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

nav .nav-right-section a{
    margin-right: 1rem;
    color: rgb(106, 106, 106);
    font-size: 1.6rem;
}

nav .nav-right-section .menu-icon{/* Icono menu */
    background-image: url("https://static.thenounproject.com/png/756729-200.png");
    background-repeat: no-repeat; /* Hace que no se repita el codigo */ 
    background-position: center; /* la imagen quede centrada 100% */
    background-size: contain; /* Logra estar del tamaño del contenedor o se aproxime al tamaño del contenedor */
    width: 25px;
    height: 25px;
}

nav .nav-right-section li a img{
    border-radius: 50%;
    margin-left: 1rem;
}

/* Main------------------------------------- */
main{
    border: 2px solid black;
    margin-top: 60px;
    text-align: center;

}

main .main-logo{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 3.5rem;
}

main .main-logo img{
    width: 272px;
}