*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
html{
    font-size: 62.5%;
}

a{
    text-decoration: none;
    cursor: pointer;
}

header{
    width: 100%;
    height: 60px;
    border: 2px solid black;
}

header nav{
    display: flex;
    justify-content: flex-end;
    border: 2px solid blue;

}

header nav .nav-right-section{
    width: 250px;   
    height: auto; 
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

nav .nav-right-section a{
    margin-right: 1rem;
    color: rgb(106, 106, 106);

}