*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
html{
    font-size: 62.5%;
}

header{
    width: 100%;
    height: 60px;
    border: 2px solid black;
}

header nav{
    display: flex;
    justify-content: flex-end;
}